@charset "utf-8";
header,nav,main,footer{
    padding: 20px;
    width: 1024px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;

}

header{
    background-color: darkkhaki;
    height: 100px;
    width: 1024px;
}


header h1 {
    color: #0B0E42;
    font-family: vidaloka;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
}

nav {
    height: auto;
    background-color: #DFD87C;
}
main {
    height: auto;
    background-color: #F3EEA4;
    font-family: allerta;
    font-style: normal;
    font-weight: 400;
}
footer {
    height: 50px;
    background-color: #5E5A2F;
    color: #FFFFFF;
    text-align: center;
    font-family: convergence;
    font-style: normal;
    font-weight: 400;
}
main section {
    width: 800px;
    background-color: #535EC7;
    padding: 20px;
    color: #F3F2DC;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: auto;
}
main section h2 {
    padding-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F3F2DA;
}
main section p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    color: #E9F2DA;
}



* {
    padding: 0;
    margin: 0;
}
#img1 {
    width: 50%;
    height: auto;
}
#img0 {
    width: 320px;
    height: 200px;
}
.img_1 {
    width: 35%;
    height: auto;
    display: block;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    border: 8px solid #98C7F7;
    border-radius: 20%;
}
#img2 {
    width: 25%;
    height: auto;
    padding-left: 20px;
    padding-bottom: 15px;
}
.p1 {
    width: 400px;
    height: auto;
    color: #091154;
    background-color: rgba(91,138,210,0.64);
    text-align: left;
    margin-left: auto;
}

#img3 {
    width: 25%;
    height: auto;
    float: left;
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 0px;
    text-align: justify;
}
#background1 {
    background-image: url(../Medios/jpg/michi%20fondo.jpg);
    background-size: 900px auto;



















    background-position: - 20%
%;
    background-repeat: no-repeat;












    background-position: 0% 20%
%;
    background-position: right top;
}
.img_filter_size {
    width: 25%;
    padding: 10;
    margin: 5px;
    height: auto;
}
.escaladegrises {
    filter: grayscale(100%);
}
.sepia {
    filter: sepia(100%);
}
.opacidad {
    filter: opacity(40%);
}
.brillo {
    filter: brightness(160%);
}
.contraste {
    filter: contrast(180%);
}
nav ul li  {
    width: 150px;
    height: 20px;
    background-color: rgba(31,93,179,1.00);
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}
ul li a {
}
nav a:hover {
    color: rgba(223,216,124,1.00);
}


a {
    color: rgba(243,242,218,1.00);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}


.negativo {
    filter: invert(100%);
}
.desenfoque {
    filter: blur(3px);
}
.sombra {
    filter: drop-shadow(5px 5px 16px yellow);
}
.img_fotoperfil {
    float: right;
    padding-left: 10px;
}
.video-1 {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 60px;
}
.video-2 {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: block;
}
.img_2 {
    width: 14%;
    height: auto;
    float: right;
    padding-left: 15px;
}
.centrar {
    margin: 0 auto;
    display: block;
    width: 50%;
}
.animate_delay-3s {
}
.animate_slower {
}
.img_4 {
    width: 16%;
    height: auto;
    padding-left: 0px;
    padding-right: 15px;
    float: left;
}
.animate_delay-5s {
}
.animate_repeat-3 {
}
.animate__delay-5s {
}
.animate__repeat-3 {
}
.animate__slower {
}
.animate__delay-3s {
}
